*{
    
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

  
}

html,body{
    height: 100%;
    text-align: center;
    background: floralwhite;
}

.titulo{
   
    border-radius: 20px;
    height: 100%;
    width: 100%;
    background: rgb(117,156,112);
background: linear-gradient(9deg, rgba(117,156,112,1) 0%, rgba(177,209,173,1) 0%, rgba(179,210,188,1) 29%, rgba(147,201,160,1) 93%);
}



input,select,button,date{
    width: 30%;
    height: 30px;
    border-radius: 8px;
    border: 3;
    margin-top: 20px;
    margin-bottom: 20px;
    

}

.botao{
    margin-top: 10px;
    margin-bottom: 50px;
}